h2,.total-text{
    padding-top: .5em;
    font-family: 'Fredoka One', cursive;    
}
h5{
    font-family: 'Bellota Text', cursive;
}

nav{
    -webkit-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
}

.amount-btn{
    font-size: 30px;
}
mat-icon{
    font-size: 30px;
}

mat-form-field{
    width: 10%;
}

.total-value{
    font-family: 'Bellota Text', cursive;
    color: #4BB543;
    font-weight: bold;
}
