<div class="text-center">
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field appearance="outline" class="outline-input">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput placeholder="Username">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
        </div>
      
     <div>
        <mat-form-field appearance="outline" class="outline-input">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
     </div>
     <div class="btn div text-center">
         <button class="login-btn" mat-button>Login</button>
     </div>
    </form>
</div>