<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="userTypeForm">
    <form [formGroup]="userTypeForm">
      <ng-template matStepLabel>Fill out your account type</ng-template>
      <mat-form-field>
        <mat-label>User type</mat-label>
        <mat-select formControlName="userTypeControl" (selectionChange)="hideUser()">
          <mat-option *ngFor="let userType of listOfUserType" [value]="userType">
            {{userType.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button class="next-btn" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userAddressForm">
    <form [formGroup]="userAddressForm">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button class="back-btn" mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button class="next-btn" matStepperNext  >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step id="clientStep">
    <ng-template matStepLabel>Client information</ng-template>
    <p style="font-size: 25px;">Client information</p>

 <form [formGroup]="clientForm">
  <mat-form-field class="outline-input" appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input formControlName="name" matInput placeholder="Placeholder">
    <mat-icon matSuffix>perm_contact_calendar</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-input">
    <mat-label>Outline form field</mat-label>
    <input formControlName="lastname" matInput placeholder="Placeholder">
    <mat-icon matSuffix>perm_contact_calendar</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-input">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="mail@example.com">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-input">
    <mat-label>Contact telephone</mat-label>
    <input formControlName="telephone" matInput placeholder="Example +381">
    <mat-icon matSuffix>call</mat-icon>
  </mat-form-field>
 </form>

    <div>
      <button mat-raised-button class="back-btn" matStepperPrevious>Back</button>
      <button mat-raised-button class="next-btn" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Login information</ng-template>
    <mat-form-field appearance="outline" class="outline-input">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="outline-input">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <div>
      <button mat-raised-button class="back-btn" matStepperPrevious>Back</button>
      <button mat-raised-button class="register-btn" matStepperPrevious>Register</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>