@import url('https://fonts.googleapis.com/css?family=Bellota+Text|Fredoka+One&display=swap');
.registrationDialog{
    background-color: #FF9B28;
}

.outline-input{
    font-size: 18px !important;
}
.addProduct{
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.109);
}

