<div >
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="../../assets/img/e-commerce.png" style="width: 80px;" alt="" class="img-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openRegistrationDialog()">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openLoginDialog()">Login</a>
          </li>
          
        </ul>
        
      </div>
    </nav>
  
    <div class="header">
        <div class="row">
          <div class="col-sm">
            <div class="text-div text-left">
              <h1 class="header-h1  ">Buy best products from <br> All or the world</h1>
              <p class="header-paragraf">Lorem Ipsum has been the industry's standard dummy <br> text ever since the 1500s, when an unknown printer took</p>
            </div>
            <div class="container btn-container">
              <button class="full-btn" mat-button>Btn1</button>
              <button class="border-btn" mat-button>Btn1</button>
            </div>
          </div>
          <div class="col-sm text-center">
            <img src="../../assets/img/6910486_preview.png" alt="" class="img-fluid">
          </div>
        </div>
        
    </div>
   
    <div class="product-slider">
      <swiper [config]="config">

        <div class="swiper-wrapper product-slider-container">
      
          <div class="swiper-slide slider" *ngFor="let product of listOfProducts">
            <div>
              <img style="width: 300px;" src="{{product.picture}}"/>
            <h3 class="product-title-h3">{{product.title}}</h3>
            <h3 class="product-price-h3">{{product.price}}</h3>   
            <div>
              <button class="border-btn-orange" routerLink="/detail/{{product.idProduct}}" routerLinkActive="router-link-active"  mat-button>Detail</button>
              <button mat-button class="full-btn-orange" (click)="findProductById(product.id)">Add to card</button>
            </div>
            </div>
          </div>
      
        </div>
      
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      
      </swiper>
    </div>
  </div>
</div>