
/* CSS HEADER START */

.header{
    height: 55vh;
    background-color: #FF9B28;
}
nav{
    background-color: #FF9B28;
    /* -webkit-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75); */
    
}

.text-div{
    padding-left: 3em;
    padding-top:5em;
}
.row{
    margin: 0 !important;
}
.header-h1{
    font-size: 70px;
    line-height: 1em;
    color: #fff;
    font-family: 'Fredoka One', cursive;    
}
.header-paragraf{
    font-size: 30px;
    line-height: 1.2em;
    font-family: 'Bellota Text', cursive;
}
.btn-container{
    padding-left: 3em;

}
.full-btn{
    background-color: #fff;
    padding-top: .5em;
    color: #FF9B28;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    border: 1px solid #fff;
}

/* CSS HEADER END */

.full-btn-orange{
    background-color: #FF9B28;
    padding-top: .5em;
    color: #fff;
    padding-bottom: .5em;
    padding-left: 5em;
    padding-right: 5em;
    border: 2px solid #fff;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.border-btn-orange{
    background-color: transparent;
    padding-top: .5em;
    color: #FF9B28;
    padding-bottom: .5em;
    padding-left: 5em;
    padding-right: 5em;
    border: 1px solid #FF9B28;
    margin-bottom: 1em;
    margin-left: 1em;
}

.product-title-h3{
    font-family: 'Bellota Text', cursive;
    font-size: 30px;
    margin-top: 1em;
}
.product-price-h3{
    font-family: 'Fredoka One', cursive;  
    font-size: 40px;
    padding-bottom: .5em;
}

.border-btn{
    background-color: transparent;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px solid #fff;
    margin-left: 1em;
    color: #fff;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slider{
    -webkit-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.75);
  }
  .swiper-wrapper{
      
  }

  .product-slider-container{
    padding: 5em;
  }

  .nav-link{
      font-size: 20px;
  }

.registrationDialog{
    background-color: #FF9B28;
}

.product-h1{
    font-family: 'Fredoka One', cursive;   
    padding-top: 2em;
    font-size: 50px;
}
.product-paragraf{
    font-family: 'Bellota Text', cursive;
    font-size: 22px;
    padding-top: 2em;
}

.cart-btn{
    padding-left: 3em;
    padding-right: 3em;
    font-size: 20px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
}